# ignore all make dependency files and linux object binaries
*.d
*.o
bin/
# DG: the following is a hack for me because I copied MSS.H to mss.h locally
# to match the includes (Linux is case-sensitive)
/user/mss.h
# ignore all the windows binaries - they shouldn't be committed!
Debug/
Release/
German_Debug/
German/
French/
French_Debug/
Italian/
Spanish/
Japanese/
Demo_Release/
Demo_Debug/
dkded_release/
dkded_debug/
IONRelease/
IONDebug/
.vs/
/Libs/IonCommon*.lib
/Libs/libent*.lib
*.log
*.ncb
*.opt
*.plg
*.suo
*.user
*.aps
*.clw
*.pdb
*.ilk
third_party/
dkio.log
Daikatana-Linux-20*
Daikatana-FreeBSD-20*
third_party/
patchdata/
out
daikatana.app

# FS: Generate last GIT commit into a header
DAIKATANA_LAST_COMMIT.H
gendate.exe

# LaTeX PDF Readme stuff
readme_pdf/*.aux
readme_pdf/*.pdf
readme_pdf/*.out
readme_pdf/*.synctex.gz
readme_pdf/*.toc

# PVS Studio
*.PVS-Studio.*
